@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    background-color: #222;
    color: #fff;
    font-family: 'Lexend', sans-serif;
    text-align: center;
}

.btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

#buttons {
    gap: 1rem;
}

#output {
    background-color: #333;
    width: auto;
    border-radius: 0.5rem;
    padding: 1rem;
    display: none;
    border: 0.25rem solid #444;
}